{% if about %}
 <!-- ======= About Section ======= -->
 <section id="about" class="about bg-dark text-light">
    <div class="container">

      <div class="section-title">
        <h2 class="text-warning">About Me</h2>
        <p>Graphic designer with 4 years relevant industry experience in Broadcast Graphics, Template creation and Motion graphics designing.
          •Specialized in Sports, News, Elections, Virtual Augment Reality, Libero.</p>
      </div>
      {% for user in userprofile %}
      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="{{ user.profile_image.url }}" class="img-fluid rounded" alt="">
      {% endfor %}
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3 class="text-warning"> Graphic Designer</h3>
          <p class="fst-italic">
            Graphic designer with 4 years relevant industry experience in Broadcast Graphics, Template creation and Motion graphics designing.
            •Specialized in Sports, News, Elections, Virtual Augment Reality, Libero.
          </p>
          <div class="row">
            {% for ab in  about %}
            <div class="col-lg-6">
              <ul>

                {% if ab.birthday %}
                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>{{ ab.birthday }}</span></li>
                {% endif %}

                {% if ab.website %}
                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>{{ ab.website }}</span></li>
                {% endif %}

                {% if ab.phone %}
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>{{ ab.phone }}</span></li>
                {% endif %}

                {% if ab.city %}
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>{{ ab.city }}</span></li>
                {% endif %}

              </ul>
            </div>
            <div class="col-lg-6">
              <ul>

                {% if ab.age %}
                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>{{ ab.age }}</span></li>
                {% endif %}

                {% if ab.degree %}
                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>{{ ab.degree }}</span></li>
                {% endif %}

                {% if ab.email %}
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>{{ ab.email }}</span></li>
                {% endif %}

                {% if ab.is_freelance %}
                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>{{ ab.is_freelance }}</span></li>
                {% endif %}

              </ul>
            </div>
            {% endfor %}
          </div>
          <p>
            In the world of a graphic designer, it's all about using the right tools and skills to make creative ideas real. 
            There's no room for blame, just the pursuit of excellence in every project, driven by the desire to create something great.
          </p>
          <!-- End about FOR Loop -->

        </div>
      </div>

    </div>
  </section>
{% endif %}  
  <!-- End About Section -->
