
{% extends 'portapp/error_handling.html' %}


{% block content %}

<div class="bg-dark text-light p-3 rounded">
    <div class="error-title text-danger">403 Forbidden - Access Denied</div>
    <div class="error-message text-light"> <b>Sorry, you don't have permission to access this resource.</b> <br> <em>If you believe this is an error, please contact the administrator.</em></div>
    <div class="btn-group">
        <a href="/" class="btn btn-primary">Explore more about our services.</a>
    </div>
</div>

{% endblock %}
