  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bg-dark bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <!-- Menu Name and Profile Image FOR Loop -->
        {% for user in userprofile %}
        <img src="{{ user.profile_image.url }}" alt="" class="img-fluid rounded">
        <h1 class="text-light"><a href="index.html">{{ user.name }}</a></h1>
        {% endfor %}
       {% for link in links %}
        <div class="social-links mt-3 text-center">
          {% if link.twitter %}
          <a href="{{ link.twitter }}" class="twitter"><i class="bx bxl-twitter"></i></a>
          {% endif %}
          {% if link.facebook %}
          <a href="{{ link.facebook }}" class="facebook"><i class="bx bxl-facebook"></i></a>
          {% endif %}
          {% if link.instagram %}
          <a href="{{ link.instagram }}" class="instagram"><i class="bx bxl-instagram"></i></a>
          {% endif %}
          {% if link.youtube %}
          <a href="{{ link.youtube }}" class="google-plus"><i class="bx bxl-youtube"></i></a>
          {% endif %}
          {% if link.linkedin %}
          <a href="{{ link.linkedin }}" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          {% endif %}
          {% if link.github %}
          <a href="{{ link.github }}" class="linkedin"><i class="bx bxl-github"></i></a>
          {% endif %}
        </div>
        {% endfor %}
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <!-- HTML for the toggle button -->
          
          <li><a href="#hero" class="nav-link scrollto active"><i class='bx bx-home'></i><span>Home</span></a></li>
          
          {% if about  %}
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          {% endif %}

          {% if resume  %}
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          {% endif %}

          {% if image  %}
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          {% endif %}

          {% if service  %}
          <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
          {% endif %}

          {% if contact  %}
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
          {% endif %}
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->