
{% if resume %}
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume bg-dark text-light">
        <div class="container">
          <div class="section-title">
            <h2 class="text-warning">Resume</h2>
            <p>Accomplished Vizrt Graphic Developer skilled in creating dynamic visual content. Proficient in digital drawing, blending artistic creativity with technical expertise.</p>
          </div>
  
          <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
              <h3 class="resume-title ">Sumary</h3>
              {% for re in resume %}
              <div class="resume-item pb-0">
                <h4 class="">{{ re.full_name }}</h4>
                <p><em>{{ re.summary }}</em></p>
                <ul>
                  <li>{{ re.address }}</li>
                  <li>{{ re.phone }}</li>
                  <li>{{ re.email }}</li>
                </ul>
              </div>
              {% endfor %}
            
              <h3 class="resume-title ">Education</h3>
              {% for ed in education %}
              <div class="resume-item">
                <h4 class="">{{ ed.degree }}</h4>
                <h5 class="bg-dark">{{ ed.year_start}} - {{ ed.year_end }} </h5>
                <p><em>{{ ed.school }} , {{ ed.location }}</em></p>
                {% if ed.description %}
                <p>{{ ed.description }}</p>
                {% endif %}
              </div>
              {% endfor %}
            </div>
            
  
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title ">Professional Experience</h3>
              {% for ex in experience %}
              <div class="resume-item">
                <h4 class="">{{ ex.job_title }}</h4>
                {% if ex.year_start and ex.year_end %}
                <h5 class="bg-dark">{{ ex.year_start }} - {{ ex.year_end }}</h5>
                {% endif %}
                <p><em>{{ ex.company }}</em></p>
                {% if ex.description %}
                <ul>
                  <li>{{ ex.description }}</li>             
                </ul>
                {% endif %}
              </div>
              {% endfor %}
            </div>
          </div>
  
        </div>
      </section>
{% endif %}
      <!-- End Resume Section -->